{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'gestion/style.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.ico' %}">
</head>
<body>
    <div class="container">
        <h1>🔐 Iniciar sesión</h1>
        {% if form.errors %}
            <p style="color: red;">Usuario o contraseña incorrectos</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Usuario:</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_password">Contraseña:</label>
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
            <p>¿No tienes cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a></p>

        </form>
    </div>
</body>
</html>